.product-list-wrapper{
  margin-top:80px;
  margin-bottom:80px; 
  /* object-fit: contain; 
   /* *  display:flex; */
}
.product-item{
    margin-bottom:70px;
    border:1px solid #ddd;
    margin-right:25px;
 
}

.product-item img{
    width:200px;
    height:170px;
    /* margin-left: 14px;
    object-fit: contain; */
    
}
.product-details{
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding:25px;
}

.name-head{
margin: 0;
font-size: 20px;
font-weight: 600;
text-align: center;
}
.product-price,.product-color{
text-align: center;
}
.product-footer{  
    display:flex;
    justify-content: space-around;
    padding:10px;
}